@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
border: none;
color: white;
margin-top: 2rem;
}
.section-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.description-color{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/* Header Styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}
ul{
    display: flex;
}
ul>li{
    list-style: none;
    margin-right: 50px;
}
ul a{
    text-decoration: none;
    font-size: 18px;
    color:  #424242;
}



/* Banner styles */
.banner-content{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.banner-container img{
    width: 100%;
    margin-top: 3rem;
}

/* Main section styles */
main{
    max-width: 1000px;
    margin: 50px auto;
}

/* Quick List Styles */

.quick-list-container{
    display: flex;
    align-items: center;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.img-container img{
    width: 100%;
    border-radius: 10px;
}
.quick-list-content{
    padding-left: 70px;
    padding-right: 70px;
}

/* media responsiv */
/* For Mobile or small media device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , 
    .quick-list-container{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns: 1fr;
    }

    .quick-list-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 40px;
    }
    nav , 
    .quick-list-container{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns: 1fr;
    }
    .quick-list-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

